*{
    padding: 0px;
    margin: 0px;
}
#login_title{
    color: white;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10vh;
    background-image: url(assets/background_form.jpg);
    background-size: cover;
    background-position: center ;
    
}

.container{
    width: 70vh;
    height: 50vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 1rem;
    padding-left: 20px;
    margin:5vh;

    background-image: url(assets/background_form.jpg);
    background-size: cover;
    background-position: left;
}
#name{
     font-size: 3vh;
     font-weight: bold;
     
     margin-top: 5vh;

}
#user_name{
    background-color: whitesmoke;
    height: 4vh;
    width: 60vh;
    padding-left: 10px;
    border : none;
    border-radius: 5px;
     
}

#password{
    font-size:3vh;

    font-weight: bold;
    margin-top: 20px;
   

}

#user_password{
    background-color: whitesmoke;
    width: 60vh;
    height: 4vh;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

#login_btn{
    width: 20vh;
    height: 4vh;
    margin-left: 10px;
}

#signup{
    font-size: 20px;
    color: white;
}

#forgot{
    text-decoration: none;
    font-size: 15px;
    margin-left: 35vh;
    display: inline;
   
   
}
a{
    color: black;
}
a:hover{
    color: rgb(121, 120, 120);
}

.signup_container{
    border: none solid black;
    width: 90vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    margin: 10px;
    background-image: url(assets/background_form.jpg);
    background-size: cover;
    border-radius: 1rem;
    
}
fieldset{
    margin: 20px 10px 40px 20px;
    
}

#submit_btn{
    margin-left: 20px;
}
#label_firstname{
    margin-right: 5px;
}
#first_name{
    margin-right: 50px;
}


.signup_name{
    color: white;
    font-size: 15px;
    border: none;
}

.signup_email{
    color: white;
    font-size: 15px;
    border: none;
    

}

#label_email{
    margin-right: 30px;
}
#user_email{
    margin-right: 50px;
}

#label_password{
    margin-right: 9px;
}

.signup_age{
    border: none;
    color: white;
}

#user_dob{
    margin-right: 72px;
    
}
#label_age{
    margin-right: 43px;
}

#gender{
    border: none;
    color: white;
   
    
}
#user_gender1{
    margin-right: 30px;
}
#user_gender2{
    margin-right: 30px;
}

#submit_btn{
    height: 25px;
    width: 60px;
}
#user_signup{
    color: white;
}